[Desktop Entry]
Type=Application
Exec=ogtatt
Name=OGTatt
Comment=Respect is only the beginning
Icon=ogtatt
Terminal=false
Categories=Game;ArcadeGame;
